<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ConnStringLocal" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=d:\Datos User\Escritorio\Net.DB.Alumno.mdf;Integrated Security=True;Connect Timeout=30"
		 providerName="System.Data.SqlClient" />
		<add name="Cresta.Escritorio.Properties.Settings.Net_DB_UsuarioConnectionString"
		 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Net.DB.Alumno.mdf;Integrated Security=True;Connect Timeout=30"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>